#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.image{
  height: 500px;
  width: 500px;
}

.left-arrow:hover{
  cursor: pointer;
}

.right-arrow:hover{
  cursor: pointer;
}